html, body {
  background-color: #24292e;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

.with-underline {
  padding-bottom: 60px;
  position: relative;
}

.with-underline:after {
  content: '';
  height: 1px;
  width: 480px;
  background-color: #65747d;
  opacity: 0.6;
  display: block;
  bottom: 0;
  left: 50%;
  margin-left: -240px;
  position: absolute;
}

.underline--short:after {
  width: 200px;
  margin-left: -100px;
}

.top-block {
  background-color: #24292e;
}

.top-block .grid-6 {
  width: 50%;
  float: left;
}

.top-block .image-wrapper {
  padding-right: 25px;
  box-sizing: border-box;
}

.top-block .image {
  background-image: url('img/building_demo.png');
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #24292e;
  min-height: 450px;
  margin: 0 auto;
  background-size: contain;
}

.top-block h1 {
  font-size: 40px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: normal;
  color: #51a5ce;
}

.top-block p {
  font-size: 16px;
  font-weight: 300;;
  line-height: 1.5;
  color: #f2f2f2;
}

.top-block .welcome-text {
  padding-left: 25px;
  padding-right: 10px;
  box-sizing: border-box;
}

.top-block .button-wrapper {
  clear: both;
  text-align: center
}

.top-block .explore {
  display: inline-block;
  opacity: 0.8;
  border-radius: 5px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
  background-image: linear-gradient(to bottom, #8ad5e2, rgba(81, 89, 154, 0.64));
  padding: 10px 65px;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 400;
  transition: opacity 0.3s;
}

.top-block .explore:hover {
  opacity: 1;
}

h2 {
  font-size: 24px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #51a5ce;
}


.bottom-block {
  padding-top: 50px;
  padding-bottom: 45px; 
}

.bottom-block a {
  color: #7ccaf9;
}

.bottom-block a:hover {
  opacity: 0.9;
}

.bottom-block .description, .mid-block .description {
  text-align: center;
  padding-bottom: 30px;
  color: #fff;
  line-height: 24px;
  font-size: 16px;
  font-weight: 300;
  margin: 0 auto;
}

.mid-block .description {
  max-width: 500px;
}

.bottom-block .description {
  max-width: 495px;
}

.bottom-block .column, .bottom-block .column li {
  font-size: 12px;
  color: #fff;
  font-weight: 300;
}

.bottom-block .column ul {
  margin-top: 0;
  padding-left: 15px;
}

.bottom-block .column li {
  padding-bottom: 10px;
}

.bottom-block .column {
  width: 50%;
  float: left;
}

.bottom-block .columns-wrapper {
  clear: both;
}

.bottom-block .left {
  text-align: right;
  padding-right: 30px;
  box-sizing: border-box;
}

.bottom-block .left p {
  display: inline-block;
  padding-top: 35px;
  max-width: 345px;
  margin-top: 0;
  text-align: left;
  font-weight: 300;
}

.bottom-block .right {
  padding-top: 23px;
  padding-left: 30px;
  box-sizing: border-box;
}

.mid-block {
  padding-bottom: 40px;
  padding-top: 10px;
}

.mid-block .features-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
}

.mid-block .description {
  padding-bottom: 60px;
}

.mid-block .card-wrapper {
  width: 160px;
  height: 225px;
  border: 1px solid transparent;
  padding: 11px 24px;
  text-align: center;
  position: relative;
  box-sizing: border-box;
  float: left;
}

.mid-block .card-wrapper .content {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  transition: all 0.3s;
}

.mid-block .card-wrapper .image {
  width: 100px;
  height: 100px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.mid-block .card-wrapper .image {
  margin: 0 auto;
}

.mid-block .card-wrapper h3 {
  text-align: center;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.25;
  color: #7ccaf9;
  max-width: 105px;
  margin-left: auto;
  margin-right: auto;
  min-height: 40px;
}

.mid-block .card-wrapper h3.custom {
  box-sizing: border-box;
  padding-top: 10px;
}

.mid-block .card-wrapper .card-description {
  display: none;
  font-size: 12px;
  color: #f2f2f2;
  padding-bottom: 10px;
  min-height: 120px;
  box-sizing: border-box;
}

.mid-block .card-wrapper .learn-more {
  border-radius: 2px;
  background-color: #50a7e6;
  color: #fff;
  font-size: 12px;
  display: none;
  padding: 6px 16px;
  text-decoration: none;
  opacity: 0.85;
  transition: opacity 0.3s;
}

.mid-block .card-wrapper .learn-more:hover {
  opacity: 1;
}

.mid-block .card-wrapper .content-inner {
  padding: 10px;
}

.mid-block .card-wrapper .content:hover {
  height: 340px;
  width: 160px;
  z-index: 10;
  border-radius: 3px;
  box-shadow: 0 1px 3px 0 rgba(124, 202, 249, 0.59);
  border-style: solid;
  border-width: 1px;
  border-image-source: linear-gradient(to bottom, #8ad5e2, rgba(81, 89, 154, 0.64));
  border-image-slice: 1;
  background-image: linear-gradient(to bottom, #35404825, #8ad5e225, rgba(81, 89, 154, 0.25));
  background-origin: border-box;
  background-clip: content-box, border-box;
  background-color: #24292e;

  transform: translateY(-53px) scale(1.05);
}

.mid-block .card-wrapper .content:hover .card-description {
  display: block;
}

.mid-block .card-wrapper .content:hover .learn-more {
  display: inline-block;
}

.mid-block .card-wrapper .image.identity {
  background-image: url('img/identity-management.svg');
}

.mid-block .card-wrapper .image.communication {
  background-image: url('img/communication.svg')
}

.mid-block .card-wrapper .image.configuration {
  background-image: url('img/configuration.svg')
}

.mid-block .card-wrapper .image.data-collection {
  background-image: url('img/data-collection.svg');
}

.mid-block .card-wrapper .image.command {
  background-image: url('img/command-invoc.svg');
}

.mid-block .card-wrapper .image.software {
  background-image: url('img/software-updates.svg');
}
